<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="row">
        <div class="col s12 offset-s6">
          <h4 class="center-align">Edit this toon</h4>
          <div class="card-panel hoverable">
            <div class="card-content">
              <div class="row">
                <form method="POST" action="/toons/<%= toon.id %>">
                  <input type="hidden" name="_method" value="PUT">

                  <div class="input-field col s10">
                    <i class="material-icons prefix">tv</i>
                    <input id="toonName" type="text" name="toonName" class="required" value="<%= toon.toonName %>">
                    <label for="toonName">Toon Name</label>
                  </div>


                  <div class="input-field col s10">
                    <i class="material-icons prefix">insert_link</i>
                    <input id="imageFilepath" type="text" name="imageFilepath" class="required" value="<%= toon.imageFilepath %>">
                    <label for="imageFilepath">Link to toon image</label>
                  </div>

                  <div class="input-field col s10">
                    <button class="btn green accent-4 waves-effect waves-light center form-button" type="submit" name="action">Edit
                      <i class="mdi-content-send center"></i>
                    </button>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
