body {
  font-family: 'Baloo Tammudu', cursive;
}

h1 {
  font-size: 40px;
}

.card-small-image {
  height: 190px;
}

.nav-circle {
  margin-top: 10px;
}

.card-large-image {
  height: 390px;
  position: relative;
}

.toonDelete {
  display: inline;
}

.commentDelete {
  display: inline;
}

.comment-line {
  .comment-by {
    height: 50px;
    text-align: center;
    img {
      margin-top: 8%;
    }
  }
  .comment {
    height: 50px;
  }
  .comment-actions {
    height: 50px;
    display:inline;
    text-align: center;
    line-height: 55px;
  }
}

header {
  background-color: #59ce00;
  margin-bottom: 10px;
  font-family: 'Baloo Tammudu', cursive;
}

.card-options {
  width: 100%;
  margin-top: -20px;
}

.brand-logo {
  font-weight: 900;
  font-size: 100%;
}

.form-button {
  margin-left: 45px;
}

.index-name-and-avatar{
  width: 100%;
  height: 60px;
}

.index-avatar {
  margin-top: 10px;
  text-align: center;
  margin-right: 20px;
  text-decoration: none;
}

.navbar-fixed {
  a {
    height: -webkit-fill-available;
  }
}

#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

.profile-avatar {
  text-align:center;
}

test {
  background-color: red;
}

.flash-message {
  text-align: center;
  color: #e65100;
}

.profile-update {
    display: inline-block;
    margin-left: 20%;
}
