body {
  font-family: 'Baloo Tammudu', cursive;
}

h1 {
  font-size: 40px;
}

.card-image {
  height: 100%;
}

.nav-circle {
  margin-top: 10px;
}

.card-large-image {
  height: 390px;
}

.toonDelete {
  display: inline;
}

.commentDelete {
  display: inline;
}

.comment-line {
  .comment-by {
    height: 50px;
    text-align: center;
    img {
      margin-top: 8%;
    }
  }
  .comment {
    height: 50px;
  }
  .comment-actions {
    height: 50px;
    display:inline;
    text-align: center;
    line-height: 55px;
  }
}
// .comment {
//   margin-left: 20px;
// }

header {
  background-color: #59ce00;
  margin-bottom: 10px;
  font-family: 'Baloo Tammudu', cursive;
}

.card-options {
  width: 100%;
  margin-top: -20px;
}

.brand-logo {
  font-weight: 900;
  font-size: 100%;
}

.form-button {
  margin-left: 45px;
}
