body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
}

.card-image {
  height: 300px;

}

header {
  background-color: #59ce00;
  margin-bottom: 10px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
