<div class="splash-image">
  <img src="/images/site/404.jpg" id="bg">
  <div>
    <h2>Oops! There's nothing here!</h2>
    <p>Use the navigation above to find what you are looking for</p>
  </div>
</div>
