<% toons.forEach((toon) => { %>
  <div class="large-4 columns">
    <a href="/toons/<%= toon.id %>">
      <img class="thumbnail" src="<%= toon.imageFilepath %>">
      <h2><%= toon.toonName %></h2>
      <small>Added by: <%= toon.createdBy.email %></small>
    </a>
  </div>
<% }) %>
