<div class="container">
  <div class="row">
    <% toons.forEach((toon) => { %>
      <div class="col s12 m6 l3">
        <a href="/toons/<%= toon.id %>">
          <div class="card hoverable">
            <div class="card-small-image" style="background-image:url(<%= toon.imageFilepath %>); background-size: cover;">
            </div>
            <div class="index-name-and-avatar valign-wrapper">
              <div class="col s10 truncate index-toonname-color"><%= toon.toonName %></div>
              <div class="col s2 index-avatar"><img class ="circle" src="<%= toon.createdBy.avatar %>" width="40px" height="40px"></div>
            </div>
          </div>
        </a>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large green accent-4" href="/toons/new">
      <i class="material-icons">add</i>
    </a>
  </div>
