<div class="container">
  <div class="row">
    <% toons.forEach((toon) => { %>
      <div class="col s12 m6 l3">
        <div class="card small hoverable">
          <a href="/toons/<%= toon.id %>">
            <div class="card-image" style="background-image:url(<%= toon.imageFilepath %>); background-size: cover;">
            </div>
            <div class="card-content">
              <p class="truncate"><%= toon.toonName %></p>
            </div>
            <div class="card-action">
              <span class="card-title truncate right"><img class ="avatar" src="<%= user.avatar %>" width="40px" height="40px"></span>
            </div>
          </a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large green accent-4" href="/toons/new">
      <i class="material-icons">add</i>
    </a>
  </div>
