<form method="POST" action="/toons">
  <div>
    <label for="toonName">Toon Name</label>
    <input type="text" name="toonName" id="toonName" required>
  </div>
  <div>
    <label for="imageFilepath">Link to toon image</label>
    <input type="text" name="imageFilepath" id="imageFilepath" required>
  </div>
  <button class="button">Create</button>
</form>
