<div class="message">
  <% if (locals.message) { %>
    <p><%= message %></p>
  <% } %>
</div>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="center-align">Your profile</h4>
      <div class="card-panel">
        <div class="card-content">
          <div class="row">
            <div class="col s12 center-align">
              <div class="">
                <img class ="circle profile-avatar" src="<%= user.avatar %>" width="250px" height="250px">
              </div>
              <div>
                <form method="POST" action="/profile" encType="multipart/form-data">
                  <input type="hidden" name="_method" value="PUT">
                  <div class="row">
                    <div class="col s12 center-align">
                      <p class="center-align">Changed your email? You can update it below</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s6">
                      <i class="material-icons prefix">email</i>
                      <input id="email" type="email" name="email" class="validate" value="<%= user.email %>">
                    </div>
                    <div class="file-field input-field col s6">
                      <div class="btn green accent-4 waves-effect waves-light center form-button">
                        <span>Avatar</span>
                        <input type="file" name="avatar">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s10">
                      <button class="btn green accent-4 waves-effect waves-light center form-button profile-update" type="submit" name="action">Update
                        <i class="mdi-content-send center"></i>
                      </button>
                    </div>
                  </div>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
