<div class="navbar-fixed valign-wrapper">
  <nav>
    <div class="nav-wrapper green accent-4">
      <div>
        <a href="/toons" class="brand-logo center">iToons</a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/toons">Toons</a></li>
        <% if(locals.isAuthenticated) { %>
          <li><a href="/profile"><img class ="circle nav-circle" src="<%= user.avatar %>" width="40px" height="40px"></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/register">Register</a></li>
          <li><a href="/login">Login</a></li>
          <% } %>
        </ul>
    </div>
  </nav>
</div>
