<div class="top-bar">
  <%# <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="/">Hotel Comments</a></li>
      <li><a href="/hotels">Hotels</a></li>
    </ul>
  </div>%>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if(locals.isAuthenticated) { %>
        <li><a href="/profile"><%= user.email %></a></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
      <% } %>
    </ul>
  </div>
</div>
