<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>iToons</title>
    <% include ./partials/_stylesheets.ejs %>
  </head>
  <body>
    <% include ./partials/_navbar %>
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
    <% } %>
    <main class="row">
      <%- body %>
    </main>

    <% include ./partials/_scripts.ejs %>
  </body>
</html>
