<div class="container">
  <% if (locals.message) { %>
    <p><%= message %></p>
    <% } %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <div class="row">
          <div class="col s12 offset-s6">
            <h4 class="center-align">Welcome to iToons! Please login</h4>
            <div class="card-panel hoverable">
              <div class="card-content">
                <div class="row">
                  <form method="POST" action="/login">
                    <div class="input-field col s10">
                      <i class="material-icons prefix">email</i>
                      <input id="email" type="email" name="email" class="validate">
                      <label for="email">Email</label>
                    </div>

                    <div class="input-field col s10">
                      <i class="material-icons prefix">lock_outline</i>
                      <input id="password" type="password" name="password" class="validate">
                      <label for="password">Password</label>
                    </div>

                    <div class="input-field col s10">
                      <button class="btn green accent-4 waves-effect waves-light center form-button" type="submit" name="action">Login
                        <i class="mdi-content-send center"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
